@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@config "../../tailwind.config.js";

:root {
  --color-primary: #9810fa;
  --color-forground: #f9fafb;
  --color-muted: #6a7282;
  --color-dashboard-item: #364153;
  --color-msg-placeholder: #99a1af;
  --color-title: #101828;
  --border-card-color: #e5e7eb;
  --border-card-radius: 14px;
  --color-dropdown-item: #0a0a0a;
  --color-border-msg-input: #f7dcff;
  --color-share-btn: #4a5565;
  --shadow-msg-input: 0px 1px 14px 2px #c75be133;
}

.dark {
  --color-primary: 220 90% 65%;
  --color-secondary: 280 80% 70%;
}

body {
  background-color: var(--color-forground);
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
